.card {
    margin-top: 0;
    width: 320px;
    min-height: 260px;
}

.cardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.vkuiInternalCardGrid--size-l .vkuiCard:not(:first-child) {
    margin-top: 0;
}